<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title>Демо-страница</title>
	<link rel="stylesheet" href="/../css/template.css" type="text/css" />
	<SCRIPT type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></SCRIPT>
	<script type="text/javascript" src="/js/slider.js"></script>
</head>
<body>
	<div class="slider">
		<div class="next"></div>
		<div class="prev"></div>
		<div class="slides">
			<div class="slide">
				<img src="/images/image1.jpg" />
			</div>
			<div class="slide">
				<img src="/images/image2.jpg" />
			</div>
			<div class="slide">
				<img src="/images/image3.jpg" />
			</div>
		</div>
	</div>
</body>
</html>